@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c1c;
  font-family: Roboto;
  overflow: hidden;
}
html #background,
body #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
html .main,
body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
}
html .main #content,
body .main #content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 24px;
  height: 100%;
  position: relative;
  text-align: center;
  top: 33%;
}
html .main #content .title,
body .main #content .title {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
html .main #content .title span,
body .main #content .title span {
  font-size: 4rem;
  cursor: pointer;
}
html .main #content .title:hover,
body .main #content .title:hover {
  -webkit-animation: MISSION-HOVER 1.5s infinite;
  animation: MISSION-HOVER 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes MISSION-HOVER {
  0%, 100% {
    font-size: 4rem;
    color: white;
  }
  50% {
    color: #bffcff;
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px #bffcff;
  }
}
html .main #content p,
body .main #content p {
  color: #e6dbae;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
html .main #content p:last-child,
body .main #content p:last-child {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3em auto;
  padding: 0;
  letter-spacing: 0.1rem;
}
html .main #content p:last-child > a,
body .main #content p:last-child > a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}
html .main #content p:last-child > a:hover,
body .main #content p:last-child > a:hover {
  color: #fff;
}
html .main #content section,
body .main #content section {
  color: #fff;
  margin: 0 auto;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
}
html .main #content section ul,
body .main #content section ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}
html .main #content section ul li,
body .main #content section ul li {
  display: inline-block;
  margin-right: 2rem;
  width: 6rem;
}
html .main #content section .timenumbers,
body .main #content section .timenumbers {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
}
html .main #content section p.timedescription,
body .main #content section p.timedescription {
  font-size: 0.5rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }